.container {
  padding: 0px 20px 20px 20px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.enter-setup {
    position:absolute;
    -webkit-transition: 0.3s ease-out all;
    -webkit-transform:translate3d(100%,0,0) ;
}
.enter-setup.enter-start {
    position:absolute;
    -webkit-transform:translate3d(0,0,0) ;
}
.leave-setup {
    position:absolute;
    -webkit-transition: 0.3s ease-out all;
    -webkit-transform:translate3d(0,0,0);
}
.leave-setup.leave-start {
    position:absolute;
    -webkit-transform:translate3d(-100%,0,0);
}